* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alegreya';
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

.common-btn {
    display: inline-block;
    width: 30rem;
    background-color: #C8191C;
    padding: 1.5rem 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: center;
}

.main-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #C8191C;
}

.sub-title {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/**********************header***********************************/
.nav-link {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-left: 5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#hero {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

#hero::before {
    content: '';
    background: url(../images/hero-banner.png);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: top center;
    opacity: 0.1;
}

.hero-data {
    padding-top: 37.7rem;
    color: #FFFFFF;
    text-align: center;
    z-index: 999;
    position: relative;
}

.hero-data h1 {
    font-size: 130px;
    line-height: 160px;
}

.hero-data h1 span {
    color: #C8191C;
}

.hero-data p {
    max-width: 906px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 5.5rem 0;
}

/***************about*****************************/
#about {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    padding-top: 20rem;
}

.about img {
    margin: 0 auto;
}

.about h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 2rem;
}

.about-img-data {
    padding-top: 20rem;
}

.about-img {
    border-right: 2px solid white;
}

.about-img p {
    width: 541px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 10rem;
}

.about-data {
    padding-left: 11.5rem;
}

.about-data .sub-title {
    margin-top: 1.8rem;
}

.about-data .common-btn {
    margin-top: 10rem;
}

/*******************team*****************************/
#team {
    background: linear-gradient(180deg, #000000 37.37%, #C8191C 231.27%);
    padding-top: 20rem;
}

.team-data h2,
.team h2 {
    font-weight: 700;
    font-size: 140px;
    line-height: 191px;
    color: #FFFFFF;
}

.team-img {
    padding-left: 8.8rem;
}

.team-data p {
    max-width: 485px;
    margin-top: 11.5rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.team h2 {
    margin-top: 10.4rem;
}

/*************************services**************************/
#services {
    padding-top: 20rem;
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
}

#services .main-title {
    text-align: center;
}

#services .sub-title {
    width: 1434px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10rem;
}

#services .row>* {
    padding-bottom: 15rem;
}

#services .row>*:nth-child(odd) {
    padding-right: 7.5rem;
    padding-left: 11.9rem;
}


#services .row>*:nth-child(even) {
    padding-left: 7.5rem;
    padding-right: 11.9rem;
}

.service-data {
    border: 2px solid white;
    padding: 5rem 6rem;
}

.service-data h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 5rem;
}

.service-data p {
    max-width: 53.1rem;
    margin-top: 2rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

/************************why*****************************/
#why {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    padding-top: 20rem;
}

#why .main-title {
    text-align: center;
}

#why .sub-title {
    text-align: center;
    margin-bottom: 17.2rem;
}

.why img {
    margin: 0 auto;
}

.why h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 3rem 0;
}

.why p {
    max-width: 395px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
}

/*************************horoscope*******************/
#horoscope {
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
    padding-top: 20rem;
}

#horoscope .main-title {
    text-align: center;
}

#horoscope .sub-title {
    max-width: 105.4rem;
    text-align: center;
    margin: 0 auto;
}

.horo-data {
    display: flex;
}

.horoscope h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}






















@media screen and (min-width:1800px) {
    .container {
        max-width: 170rem;
    }

}